@{
    ViewBag.Title = "Acceso";
}
<link rel="stylesheet" href="@Url.Content("~/Content/fonts/custom/emo-cry/custom.css")" />
<h1 style="width: 100%; text-align: center;font-size: 48px;">Lo sentimos no tienes acceso a esta funcionalidad <i class="icon-emo-cry">&#xe800;</i></h1>